@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
    font-family: 'Montserrat', 'Arial', 'Helvetica Neue', sans-serif;
}

.main-wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    height:100vh;
    width:100%;
    background:#121212;
}

.icon{
    width:20px;
    height:20px;
    background:#1db954;
}

.welcome{
    color:white;
    margin-top:1rem;
    margin-bottom:1rem;
}

.tabs{
    margin-bottom:0.5rem;
}

.tab{
    padding:0.5rem 1rem 0.5rem 1rem;
    border:0;
    background:none;
    font-family: 'Montserrat', 'Arial', 'Helvetica Neue', sans-serif;
    color:white;
}

.tab:hover{
    cursor:pointer;
}

.tab-active{
    border-bottom: 0.2rem solid #1db954;
}

.content{
    display:grid;
    grid-template-columns:0.3fr 0.7fr;
    grid-template-rows:1fr 1fr 1fr;
    justify-content:center;
    align-items:center;
    width:70%;
    height:80%;
    gap:3rem;
}


.content-grid{
    background:#212121;
    color:white;
    width:100%;
    height:100%;
    padding:1.5rem;
    border-radius:0.5rem;
}

.grid-1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}